<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bryankyle.textprocessing</string>
	<key>connections</key>
	<dict>
		<key>0BAFDDDF-56D9-4C9F-8191-3D6ADD379707</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>948C1725-5A4E-4D65-81FE-1F7DDDBD8C24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>264B6241-D3A6-4613-8842-3DDC8DC138F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECC952EC-95A2-4BB0-BFB9-17CC7E54A935</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D718740-28C5-4B18-98D5-1BC610F378A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE8B461C-09DC-4C21-8067-8254FEE667BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D5AF64F-36C3-425C-A1AF-27CAF5790E12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECC952EC-95A2-4BB0-BFB9-17CC7E54A935</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71F2A25E-4FF2-4BCE-9B81-21CFCAC21CFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECC952EC-95A2-4BB0-BFB9-17CC7E54A935</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B062CEB-55C1-4FD0-9EB5-D66CDC510BA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECC952EC-95A2-4BB0-BFB9-17CC7E54A935</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>948C1725-5A4E-4D65-81FE-1F7DDDBD8C24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16377B48-4664-4EFC-8DB8-AD45192F9B49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE8B461C-09DC-4C21-8067-8254FEE667BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0843E362-1C33-4D5A-B1CB-DC12F6C71DB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB20FF40-777A-49D4-B082-9CD748F8F94F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EB41965-B7AF-482A-B8B9-C33C2189D3B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF75135B-1FCE-4162-92E7-B93C1EB889C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB20FF40-777A-49D4-B082-9CD748F8F94F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bryan Kyle</string>
	<key>description</key>
	<string>Encoding and transformation</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Text Processing Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>e</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>encode.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Encode text</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>71F2A25E-4FF2-4BCE-9B81-21CFCAC21CFE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tm</string>
				<key>subtext</key>
				<string>Transform Markdown text on the clipboard to rich text</string>
				<key>text</key>
				<string>Transform Markdown</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0BAFDDDF-56D9-4C9F-8191-3D6ADD379707</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>16377B48-4664-4EFC-8DB8-AD45192F9B49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>hex=`pbpaste | /usr/local/bin/pandoc -t html -s --highlight-style pygments | hexdump -ve '1/1 "%.2x"'`
osascript -e "set the clipboard to «data HTML${hex}»"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>md2html</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>948C1725-5A4E-4D65-81FE-1F7DDDBD8C24</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>transform.py</string>
				<key>subtext</key>
				<string>Transform text</string>
				<key>title</key>
				<string>Transform</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4D5AF64F-36C3-425C-A1AF-27CAF5790E12</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>0843E362-1C33-4D5A-B1CB-DC12F6C71DB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.microsoft.Word</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2D718740-28C5-4B18-98D5-1BC610F378A8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>hex=`pbpaste | /usr/local/bin/pandoc -t html -s --highlight-style pygments | hexdump -ve '1/1 "%.2x"'`
osascript -e "set the clipboard to «data HTML${hex}»"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>md2html</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AE8B461C-09DC-4C21-8067-8254FEE667BA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>ECC952EC-95A2-4BB0-BFB9-17CC7E54A935</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ci</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>color.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Color Info</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8B062CEB-55C1-4FD0-9EB5-D66CDC510BA6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5EB41965-B7AF-482A-B8B9-C33C2189D3B6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DF75135B-1FCE-4162-92E7-B93C1EB889C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>DB20FF40-777A-49D4-B082-9CD748F8F94F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>info</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>info.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Text Information</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>264B6241-D3A6-4613-8842-3DDC8DC138F6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0843E362-1C33-4D5A-B1CB-DC12F6C71DB7</key>
		<dict>
			<key>xpos</key>
			<real>1030</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>0BAFDDDF-56D9-4C9F-8191-3D6ADD379707</key>
		<dict>
			<key>note</key>
			<string>Replace the plain-text markdown content on the pasteboard with rich-text formatted HTML.</string>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>16377B48-4664-4EFC-8DB8-AD45192F9B49</key>
		<dict>
			<key>xpos</key>
			<real>1030</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>264B6241-D3A6-4613-8842-3DDC8DC138F6</key>
		<dict>
			<key>note</key>
			<string>Return information about the passed text.</string>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>2D718740-28C5-4B18-98D5-1BC610F378A8</key>
		<dict>
			<key>note</key>
			<string>Replace the plain-text markdown content on the pasteboard with rich-text formatted HTML AND paste into the active application.</string>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>4D5AF64F-36C3-425C-A1AF-27CAF5790E12</key>
		<dict>
			<key>note</key>
			<string>Apply a collection of transformations to some text and present it as a list.</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>5EB41965-B7AF-482A-B8B9-C33C2189D3B6</key>
		<dict>
			<key>xpos</key>
			<real>1030</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>71F2A25E-4FF2-4BCE-9B81-21CFCAC21CFE</key>
		<dict>
			<key>note</key>
			<string>Encode text in a variety of different encodings.</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>8B062CEB-55C1-4FD0-9EB5-D66CDC510BA6</key>
		<dict>
			<key>note</key>
			<string>Takes a color in hex form, e.g. #c0c0c0, and provides a variety of different encodings of it.</string>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>948C1725-5A4E-4D65-81FE-1F7DDDBD8C24</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>AE8B461C-09DC-4C21-8067-8254FEE667BA</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>DB20FF40-777A-49D4-B082-9CD748F8F94F</key>
		<dict>
			<key>note</key>
			<string>...because we're not animals, trim the whitespace.</string>
			<key>xpos</key>
			<real>870</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>DF75135B-1FCE-4162-92E7-B93C1EB889C9</key>
		<dict>
			<key>note</key>
			<string>Copy the current selection to the clipboard as plain text.  This comes in handy to get plain text content out of rich text fields, web pages, etc.</string>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>ECC952EC-95A2-4BB0-BFB9-17CC7E54A935</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
